{#<a href="{% url "blog:home" %}">Blog</a>#}
{#<br>#}
{#<a href="{% static 'portfolio/resume.pdf' %}" target="_blank">Resume</a>#}
{##}
{#<img src="{% static 'portfolio/chuckzokoye.png' %}" alt="chuckzokoye">#}
{##}


{% extends 'portfolio/base.html' %}
{% load static %}


{% block portfolio %}
    <div id="portfolio" class="portfolio segments">
        <div class="container">
            <div class="box-content">
                <div class="section-title">
                    <h3>My Portfolio</h3>
                </div>
                <div class="row no-gutters filtr-container">
                    {% for project in projects %}
                        <div class="col-md-4 col-sm-12 col-xs-12 filtr-item" data-category="3">
                            <div class="content-image">
                                <a href="{{ project.url }}" target="_blank" class="portfolio">
                                    <img src="{{ project.image.url }}" alt="">
                                    <div class="image-overlay"></div>
                                    <div class="portfolio-caption">
                                        <div class="title">
                                            <h4>{{ project.title }}</h4>
                                        </div>
                                        <div class="subtitle">
                                            <span>{{ project.description }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block blog %}
    <div id="blog" class="blog segments">
        <div class="container">
            <div class="section-title">
                <h3>My Blog</h3>
            </div>
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-md-6">
                        <div class="content">
                            <div class="blog-title">
                                <h4><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></h4>
                                <div class="date">   {{ blog.date }}      </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}